[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Suckless terminal emulator for X
Exec=st -t "Simple Terminal" -c "simple-terminal"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
